---
import '../assets/item.css'
import 'prismjs/themes/prism.css'
import dayjs from '../lib/dayjs'
import { getEnv } from '../lib/env'

const locale = getEnv(import.meta.env, Astro, 'LOCALE')
const timezone = getEnv(import.meta.env, Astro, 'TIMEZONE')

locale && dayjs.locale(locale)

const { SITE_URL } = Astro.locals
const { post } = Astro.props

const datetime = dayjs(post.date).tz(timezone)
const timeago = datetime.isBefore(dayjs().subtract(1, 'w')) ? datetime.format('HH:mm · ll · ddd') : datetime.fromNow()
---

<div class="item" style={{ 'view-transition-name': `post-${post.title}` }}>
  <div class="time-box">
    <div class="dot"></div>
    <div class="time">
      <a title={post.date} class="item-link">
        <time datetime={post.date} title={timeago}>{timeago}</time>
      </a>
    </div>
  </div>
  {post.html?.length > 0 && <div class={`text-box content`} set:html={post.html} />}
  {
    post.tags?.length > 0 && (
      <div class="tag-box" style={post.html.length === 0 ? 'padding-top: 30px;' : ''}>
        <div class="tag-icon" />
        {post.tags.map((tag) => (
          <a title={tag} class="tag">
            {tag}
          </a>
        ))}
      </div>
    )
  }
</div>
